<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Last-Modified" content="0">
<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
<meta http-equiv="Pragma" content="no-cache">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	
	Seleccione tema:
	
	<select name="temas" id="temaSel">
		<option value="0">-Todos</option>
		<option th:each="t : ${temas}" th:value="${t.idTema}" th:text="${t.tema}"></option>
	</select>
	
	<!--  
	<input type="button" value="Ver Libros" id="btnVerLibros"><br><br>
	 -->
	<div id="tbLibros"></div><br>
	
	<h2>Carrito</h2>
	<div id="tbCarrito">
	</div>
	
	<script type="text/javascript">
	/*$("#btnVerLibros").click(function(){
		var url="FrontController";
		var params={"operation":"doLibrosPorTema","idTema":$("#temaSel").val()};
		$.get(url,params,function(data){
			var tabla="<table border='1'><tr><th>Título</th><th>ISBN</th><th>Precio</th></tr>";
			$.each(data, function(i,l){
				tabla+="<tr><td>"+l.titulo+"</td><td>"+l.isbn+"</td><td>"+l.precio+"</td></tr>";
			});
			tabla+="</table>";
			$("#tbLibros").html(tabla);
		});
	});*/
	
	//para hacerlo sin botón, al cambio de selección del select
	$("#temaSel").change(function(){
		var url="libros";
		var params={"idTema":$("#temaSel").val()};
		gestionarPeticion(url,params);
	});
	
	function gestionarPeticion(url,params){
		$.get(url,params,function(data){
			var tabla="<table border='1'><tr><th>Título</th><th>ISBN</th><th>Precio</th><th>Páginas</th><th>Tema</th><th></th></tr>";
			$.each(data, function(i,l){
				tabla+="<tr><td>"+l.titulo+"</td><td>"+l.isbn+"</td><td>"+l.precio+"</td><td>"
				+l.paginas+"</td><td>"+l.idTema+"</td><td><a href='#' onclick='agregarCarrito("+l.isbn+")'>Agregar</a></td></tr>";
			});
			tabla+="</table>";
			$("#tbLibros").html(tabla);
		});
	}
	
	function agregarCarrito(isbn){
		var url="agregarCarrito";
		var params={"isbn":isbn};
		pintarCarrito(params,url);
	}
	
	function EliminarCarrito(pos){
		var url="quitarCarrito"
		var params={"pos":pos};
		pintarCarrito(params,url);
	}
	
	function pintarCarrito(params,url){
		$.get(url,params,function(data){
			var tabla="<table border='1'><tr><th>Título</th><th>ISBN</th><th>Precio</th><th>Páginas</th><th>Tema</th></tr>";
			$.each(data, function(i,l){
				tabla+="<tr><td>"+l.titulo+"</td><td>"+l.isbn+"</td><td>"+l.precio+"</td><td>"
				+l.paginas+"</td><td>"+l.idTema+"</td><td><a href='#' onclick='EliminarCarrito("+i+")'>Eliminar</a></td></tr>";
			});
			tabla+="</table>";
			$("#tbCarrito").html(tabla);
		});
	}
	
	</script>

</body>
</html>